<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 1rem;
        }
        p {
            font-size: 16px;
            color: #555;
        }
    </style>
</head>
<body>
    <h1>Success</h1>
    <p>{{ message }}</p>
    <a class="option-link" href="{{ url_for('main_page') }}">Main</a>
</body>
</html>
